/*****************************
Header
*****************************/
header {
	width: 100%;
	top: 0;
}

.nav {
	display: -webkit-flex;
	-webikit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webikit-flex-wrap: wrap;
	margin: 0px;
	min-height: 70px;
}

.nav li:first-child {
	margin-right: auto;
}	

.nav li {
	padding: 2%;
	margin-right: 10px;
}

.nav li a {
	float: left;
	padding: 5px;
}

.nav a.selected {
	color: yellow;
}

a {
text-decoration: none;
}

li {
list-style-type: none;
}



/*****************************
Body
*****************************/
* {
	margin: 0;
}

html, body {
	height: 100%;
}

html {background: url(images/background1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

.wrapper {
	width: 100%;
	margin: 0 auto -155px;
	min-height: 100%;
}

body {
	padding: 0;
}

/****************************
top section
****************************/
.sec-top {
	height: 100vh; 
}


#logowrapper {
	max-width: 350px;
	margin: 250px auto 0;
}

#wwlogo {
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-family: Georgia;
	margin-top: 40px;
}

.logonav {
	display: -webkit-flex;
	-webikit-flex-direction: row;
	-webkit-justify-content:space-between;

}

.logonav li {
	list-style-type: none;
	margin: 0 0 0 -10%;

}

.logonav li a {
	text-decoration: none;
	color: white;
	padding: 10px;
	  display: inline-block;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: -webkit-transform;
	  transition-property: transform;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}

.logonav li a:hover {
	text-decoration: none;
	color: white;
	padding: 10px;
	-webkit-transform: scale(1.1);
 	-ms-transform: scale(1.1);
  	transform: scale(1.1);
}


/****************************
Main boxes
****************************/


.sectwrapper {
	padding: 8% 0%;
	top: 40%;
}


.sectawrapper, .sectcwrapper {
	background-color: white;
	height:100%;
}


p {
	margin: 0 auto;
	max-width: 75%;
	padding: 1.5em;
	text-align: center; 
}



/****************************
Footer 
****************************/

footer {
	min-height: 155px;
	width: 100%;
}

footer {
	background-color: black;
	text-align: center;
}

.push {
	height: 10em;
}


.footernav {
	display: -webkit-flex;
     -webkit-flex-direction: row;
     -webkit-justify-content: space-around;
     -webkit-flex-wrap: wrap;
	margin: 0;
	padding: 5% 0 0 0;

}

.footernav li a {
	color: white;
	font-family: georgia, times, serif;
}


/****************************
PAGE COLORS STYLINGS
****************************/

.nav {
	background-color: black;
	opacity: .8;
}



/****************************
FONT STYLINGS
****************************/

.nav li a {
	color: white;
	font-family: Georgia, serif;
	font-size: 1.0em;
}

.nav li:first-child {
	font-size: 1.33em;
}

p {
	font-family: Georgia, Times, serif;
	font-size: 2.25em;
	line-height: 1.5em;
	letter-spacing: .075em
}

.sec-b {
	color: white;
}

.sectionlink, .sectionlinkwhite {
	font-family: georgia;
	font-style: italic;
	font-weight: 800;
	padding: 7px 35px;
	border-style: solid;
	margin-left: -1%;

}

.sectionlinkwhite {
	color: white;
}

.sectionlink {
	color: black;
}

/****************************
CONTACT PAGE
****************************/

#contactwords {
	margin: 0px;
	padding: 0%;
}


.bodywrapper {
	background: white;
	z-index: 20;

}

#map_canvas {
        width: 85%;
        height: 300px;
        margin: 10% auto 10%;
    }

#contactinfowrapper{
	max-width: 70%;
	margin: 100px auto 0;
}

#contact-info {
	text-align: center;
	display: -webkit-flex;
	-webikit-flex-direction: row;
	-webkit-justify-content: space-between;
}

#contact-info li a {
	font-family: arial;
	color: black;
	font-weight: 800;
	-webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: -webkit-transform;
	  transition-property: transform;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#contact-info li a:hover {
	-webkit-transform: scale(1.1);
 	-ms-transform: scale(1.1);
  	transform: scale(1.1);
}

	
/****************************
Small Device
****************************/
@media only screen and (min-width:200px) and (max-width:420px) {
	p {
		font-size: .9em;
		max-width: 85%;
		margin: 10px;
	}

	.sectionlink, .sectionlinkwhite {
		font-size: 10px;	
	}
}


/****************************
Tablet
****************************/
@media only screen and (min-width:421px) and (max-width:678px) {
	
	p {font-size: 1.5em;
	}

	.sectionlink, .sectionlinkwhite {
		font-size: 14px;
	}



}


